<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="sm-jumbotron:center-align">
                <h2>User Registration</h2>
            </div>
            <form class="col s12 white" #userRegistrationForm="ngForm">
                <div class="row">
<div class="input-field col s6">
    <input type="text" name="UserName" #UserName="ngModel" [(ngModel)]="user.UserName">
    <label>User Name</label>
    <input type="text" name="Password" #UserName="ngModel" [(ngModel)]="user.UserName">
    <label>User Name</label>
    <input type="text" name="Emailid" #UserName="ngModel" [(ngModel)]="user.UserName">
    <label>User Name</label>
    <input type="text" name="Mobilenumber" #UserName="ngModel" [(ngModel)]="user.UserName">
    <label>User Name</label>
</div>
<div class="input-field col s6"></div>
                </div>
            </form>
        </div>
    </div>
</div>